@model IEnumerable<CustomerLibrary.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2 class="text-primary m-bt">Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPurchasesAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPurchasesAmount)
            </td>
            <th>
                @Html.ActionLink("Addresses", "Index", "Addresses", new {customerId = item.CustomerId}, new {})
            </th>
            <th>
                @Html.ActionLink("Notes", "Index", "Notes", new {customerId = item.CustomerId}, new {})
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CustomerId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CustomerId})
            </td>
        </tr>
    }

</table>

@if (ViewBag.LastPage > 1)
{
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="text-center">
                @if (ViewBag.CurrentPage != 1)
                {
                    @Html.ActionLink("Prev", "Index", new { page = ViewBag.CurrentPage - 1 }, new {@class = "btn btn-primary" })
                }
                else
                {
                    <button class="btn btn-primary disabled" disabled>Prev</button>
                }
                @if (ViewBag.CurrentPage != ViewBag.LastPage)
                {
                    @Html.ActionLink("Next", "Index", new { page = ViewBag.CurrentPage + 1 }, new { @class = "btn btn-primary" })
                }
                else
                {
                    <button class="btn btn-primary disabled" disabled>Next</button>
                }
            </div>
        </div>
    </div>
}